/* 基本的 HTML 元素樣式 */
body {
    font-family: Times New Roman, sans-serif;
    line-height: 2.0;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    text-align: center;
}

h3 {
    color: #333;
}

p {
    margin: 20px 0;
}

/* 代碼塊樣式 */
pre {
    background-color: #282c34; /* 深背景色，以增強可讀性 */
    color: #abb2bf; /* 淺字體顏色，增強對比 */
    padding: 20px; /* 內邊距 */
    overflow-x: auto; /* 橫向滾動條 */
    border-radius: 5px; /* 圓角 */
}

code {
    font-family: 'Consolas', 'Monaco', monospace; /* 等寬字體提高代碼可讀性 */
    font-size: 1.2em;
}

/* 代碼內的關鍵字、注釋和字符串的高亮 */
code.python {
    color: #abb2bf;
}

code.python .keyword { color: #c678dd; } /* Python 關鍵字，如 import, def */
code.python .string { color: #98c379; } /* 字符串文字 */
code.python .comment { color: #5c6370; } /* 註解 */
