/* 基本的 HTML 元素樣式 */
body {
    font-family: Times New Roman, serif;
    line-height: 2.0;
    margin: 30px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 40px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #333;
}

p {
    font-size: 20px;
    margin: 25px 0;
}

/* 代碼塊樣式 */
pre {
    max-width: 800px;
    margin: auto;
    background-color: #282c34; /* 深背景色 */
    color: #abb2bf; /* 淺字體顏色 */
    padding: 10px;
    overflow-x: auto;
    border: none; /* 移除邊框 */
}


code {
    background-color: inherit; /* 繼承父元素的背景色 */
    color: inherit; /* 繼承父元素的文字色 */
    font-family: 'Consolas', 'Monaco', monospace; /* 保持等寬字體 */
    font-size: 1.0em;
    line-height: 1.5;
    padding: 0; /* 移除額外的內邊距 */
    border: none; /* 確保沒有邊框 */
}

/* 代碼內的關鍵字、注釋和字符串的高亮 */
code.python {
    color: #abb2bf;
}